{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'LZ_graham/style.css' %}" />
<script src="{% static 'dajax/dajax.js' %}"></script>
<script src="{% static 'dajax/dajaxice.core.js' %}"></script>
<script src="{% static 'LZ_graham/dajax/dajaxice.core.js' %}"></script>

<div id="LZ_TITLE"></div>
<form id="FORM_LOGIN" method="post" action="index.html" align="center">
	<p><input type="text" name="login" value="" placeholder="Username or Email"></p>
	<p><input type="password" name="password" value="" placeholder="Password"></p>
	<p><label>
		<input type="checkbox" name="remember_me" id="remember_me">
		Remember me on this computer
	</label></p>
	<input type="submit" name="commit" value="Login">
	<br/>
	<a href="{% url 'LZ_graham:client' 'Gilles GAUDIN' 'yop' %}">TEST</a>
</form>
<br/>
<input type="text" value="5" id="a"> x
<input type="text" value="6" id="b"> =
<input type="text" value="" id="result">
<input type="button" value="Multiply!" onclick="calculate();">
